.container{
    background-size: 100%;

    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    margin-right: 0;

}

.box{
    width: 35%;
    height: 40%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.boxItem{
    display: flex;
}

.boxItem div{
    margin-left: 20px;
}

.box h1{
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    
    color: #ffffff;
}
.myButton{
    border-style: none;
    height: 41px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    padding: 11px 18px;

    color: #FFFFFF;
    background: #333333;
    border-color:rgba(0,0,0,0);
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.myButton:hover{
    background: #06b06d;
    border-color: #06b06d;
    box-shadow:0 0 0 0 #53d3a0, 0 0 9px 5px #53d3a0;
    cursor: pointer;
} 