.chatContainer{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color:#252525;
}

.screenText{
    height: 100%;
    padding: 24px;

}
.inputContainer{
    display: flex;
    padding: 24px;
}

.inputContainer div{
    margin-left: 30px;
}
.myInput{
    background-color:#f5f6f7;
    border: 1px solid #e8e9e9;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 41px;
    padding: 11px 18px;
    text-align: start;
    font-size: 15px;
    color:#555555;
}